<a href="https://colab.research.google.com/github/Farouk-Data/Automate-The-Boring-Stuff-With-Python/blob/master/Automate_boring_Stuff_p2_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <font color="green">***~Functions:***</font>

In [ ]:
def add(a,b):
  res = a + b
  return res

print(add(2,3))

5

> ~In Python , there is a None value , the equivalent of <font color="blue">Null</font> , can be used to initialize something or in a function that return nothing.

#### ~Global Variables:
-You can change the value of a Gloabl variable with the <font color="blue">global</font> statement.

In [ ]:
def test():
  global g_var;
  g_var = 1337;
#g_var = 42;
test();
print(g_var);

1337

### <font color="green">***~Exception Handeling :***</font>

In [ ]:
def divide(nb,divideBy):
  try:
    return nb / divideBy;
  except: 
    return 'ZeroDivisionError';
print(divide(15,3));
print(divide(666,0))

5.0
ZeroDivisionError

##### ~***Short Zigzag Program***

In [ ]:
import time, sys

indent = 0 # How many spaces to indent.
indentIncreasing = True # Whether the indentation is increasing or not.
try:
  while True: # The main program loop.
  #end in print is the way of choosing how the print statement should end , by default end='\n'
    print(' ' * indent, end='x')
    print('********')
    time.sleep(0.3) # Pause for 1/10 of a second.
    
    if indentIncreasing:
      # Increase the number of spaces: 
      indent = indent + 1
      if indent == 20:
        # Change direction: 
        indentIncreasing = False
    else:
      # Decrease the number of spaces:
       indent = indent - 1
       if indent == 0:
         # Change direction: 
         indentIncreasing = True
except KeyboardInterrupt:
   sys.exit()

### <font color="green">***~Lists :***</font>

In [ ]:
#list : data type that can hold multiple values of different types
list = ["first","second",55,'testing',None]

In [ ]:
#printing the list
list

['first', 'second', 55, 'testing', None]

In [ ]:
#Indexing the list , you can use negative indexes to check from the last 
list[0] , list[1] , str(list[2])+list[3] , 'hi ' + list[0] , list[-2]

('first', 'second', '55testing', 'hi first', 'testing')

In [ ]:
#looping in a list
for elem in list:
  print(elem)

first
second
55
testing
None

In [ ]:
#nested lists
parent = [['42',1337,'school'],['kafka','absurd',666],[69,'420','noice']]

In [ ]:
#handling nested list (like 2D arrays)
#print nested list
for child in parent:
  for smaller in child:
    print(smaller)

42
1337
school
kafka
absurd
666
69
420
noice

In [ ]:
for child in parent:
  print(child)

['42', 1337, 'school']
['kafka', 'absurd', 666]
[69, '420', 'noice']

In [ ]:
#Slicing the list
##get the first two elements
new = parent[0:2]
print(new)

[['42', 1337, 'school'], ['kafka', 'absurd', 666]]

In [ ]:
#parent[0:3]
parent[:3]

[['42', 1337, 'school'], ['kafka', 'absurd', 666], [69, '420', 'noice']]

In [ ]:
#get length 
len(new)

2

In [ ]:
#Assign new values to list (cries in c)

list2 = ['string',55,5.3,'0000']
list2[3] = 'changed'
list2

['string', 55, 5.3, 'changed']

In [ ]:
#List concat and replication
one = ['1','2','3']
two = ['4','5','6']
one+two
#['1', '2', '3', '4', '5', '6']
three = one+two
three

['1', '2', '3', '4', '5', '6']

In [ ]:
#removing values with del statements
del three[:2] 
three

['3', '4', '5', '6']