<a href="https://colab.research.google.com/github/Farouk-Data/Automate-The-Boring-Stuff-With-Python/blob/master/Automate_boring_Stuff_p2_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <font color="green">***~Functions:***</font>

In [ ]:
def add(a,b):
  res = a + b
  return res

print(add(2,3))

5

> ~In Python , there is a None value , the equivalent of <font color="blue">Null</font> , can be used to initialize something or in a function that return nothing.

#### ~Global Variables:
-You can change the value of a Gloabl variable with the <font color="blue">global</font> statement.

In [ ]:
def test():
  global g_var;
  g_var = 1337;
#g_var = 42;
test();
print(g_var);

1337

### <font color="green">***~Exception Handeling :***</font>

In [ ]:
def divide(nb,divideBy):
  try:
    return nb / divideBy;
  except: 
    return 'ZeroDivisionError';
print(divide(15,3));
print(divide(666,0))

5.0
ZeroDivisionError

##### ~***Short Zigzag Program***

In [ ]:
import time, sys

indent = 0 # How many spaces to indent.
indentIncreasing = True # Whether the indentation is increasing or not.
try:
  while True: # The main program loop.
  #end in print is the way of choosing how the print statement should end , by default end='\n'
    print(' ' * indent, end='x')
    print('********')
    time.sleep(0.3) # Pause for 1/10 of a second.
    
    if indentIncreasing:
      # Increase the number of spaces: 
      indent = indent + 1
      if indent == 20:
        # Change direction: 
        indentIncreasing = False
    else:
      # Decrease the number of spaces:
       indent = indent - 1
       if indent == 0:
         # Change direction: 
         indentIncreasing = True
except KeyboardInterrupt:
   sys.exit()

### <font color="green">***~Lists :***</font>

In [ ]:
#list : data type that can hold multiple values of different types
list = ["first","second",55,'testing',None]

In [ ]:
#printing the list
list

['first', 'second', 55, 'testing', None]

In [ ]:
list[0] = 'farouk'

In [ ]:
list

['farouk', 'second', 55, 'testing', None]

In [ ]:
#Indexing the list , you can use negative indexes to check from the last 
list[0] , list[1] , str(list[2])+list[3] , 'hi ' + list[0] , list[-2]

('farouk', 'second', '55testing', 'hi farouk', 'testing')

In [ ]:
#looping in a list
for elem in list:
  print(elem)

farouk
second
55
testing
None

In [ ]:
#nested lists
parent = [['42',1337,'school'],['kafka','absurd',666],[69,'420','noice']]

In [ ]:
#handling nested list (like 2D arrays)
#print nested list
for child in parent:
  for smaller in child:
    print(smaller)

42
1337
school
kafka
absurd
666
69
420
noice

In [ ]:
for child in parent:
  print(child)

['42', 1337, 'school']
['kafka', 'absurd', 666]
[69, '420', 'noice']

In [ ]:
#Slicing the list
##get the first two elements
new = parent[0:2]
print(new)

[['42', 1337, 'school'], ['kafka', 'absurd', 666]]

In [ ]:
#parent[0:3]
parent[:3]

[['42', 1337, 'school'], ['kafka', 'absurd', 666], [69, '420', 'noice']]

In [ ]:
#get length 
len(new)

2

In [ ]:
#Assign new values to list (cries in c)

list2 = ['string',55,5.3,'0000']
list2[3] = 'changed'
list2

['string', 55, 5.3, 'changed']

In [ ]:
#List concat and replication
one = ['1','2','3']
two = ['4','5','6']
one+two
#['1', '2', '3', '4', '5', '6']
three = one+two
three

['1', '2', '3', '4', '5', '6']

In [ ]:
#removing values with del statements
del three[:2] 
three

['3', '4', '5', '6']

In [ ]:
list3 = [1 , 2 , 3 , 4 , 5 , 42 , 1337]

In [ ]:
del list3[3]

In [ ]:
list3

[1, 2, 3, 5, 42, 1337]

In [ ]:
#Program to store variable cats name in a list
cats = []
while True :
  name = input('Enter cat name or press Enter on Nothing to break :')
  if name == '':
    break
  cats = cats + [name]
for cat in cats :
  print(' '+ cat)

Enter cat name or press Enter on Nothing to break :niko
Enter cat name or press Enter on Nothing to break :Electra
Enter cat name or press Enter on Nothing to break :
 niko
 Electra

#### <font color = 'Orange'> ~Using for loops to index a list:</font>

In [ ]:
list1 = [1,2,3,4,4,'future']
for i in range(len(list1)) : 
  print('index ' + str(i) + ' for ' + str(list1[i]))

index 0 for 1
index 1 for 2
index 2 for 3
index 3 for 4
index 4 for 4
index 5 for future

#### <font color = 'Orange'> ~In & Not Operators:</font>

In [ ]:
1 in list1

True

In [ ]:
'this' in list1

False

In [ ]:
2 not in list1

False

In [ ]:
#check whether a name exist in a list
arr = ['Silicon valey','13','37','42','Network']
name = input('Search: ?\n')
if name in arr:
  print(name + ' Exist!')
else :
  print('Does not exist')

Search: ?
13
13 Exist!

***(Multiple assignment trick ~~Tuple Unpacking)***

In [ ]:
#Using the enumerate() function 
for index,item in enumerate(list1) : 
  print('Index ' + str(index) + ' for item :' + str(item))

Index 0 for item :1
Index 1 for item :2
Index 2 for item :3
Index 3 for item :4
Index 4 for item :4
Index 5 for item :future

~The enumerate function returns at each iteration two values : index of the item in a list , and the list itself.

#### <font color = 'Orange'> ~Random module:</font>

In [ ]:
import random
Matrix = ['Blue Pill','Red Pill']
random.choice(Matrix)

'Red Pill'

In [ ]:
Life = ['egg' , 'chicken']
print('First is :' + Life[0])
random.shuffle(Life)
print('First is :' + Life[0])

First is :egg
First is :chicken

In [ ]:
#Augmented assignment for string
elem = ['One']
elem *= 3
elem

['One', 'One', 'One']

#### <font color = 'Orange'> ~Method:</font>

In [ ]:
#return index with index() method
list3 = [1, 2, 3, 4, 5, 42, 1337,'Network','1337']
list3.index(1337) #the index of the first one is returned

6

In [ ]:
#append,insert in a list 
list3.append(3)
list3

[1, 2, 3, 4, 5, 42, 1337, 'Network', '1337', 3]

In [ ]:
list3.insert(2,'here')
list3

[1, 2, 'here', 3, 4, 5, 42, 1337, 'Network', '1337', 3]

In [ ]:
#removing values using remove
list3.remove(3)
list3

[1, 2, 'here', 4, 5, 42, 1337, 'Network', '1337', 3]

In [ ]:
#Sorting
arr = [0 , -5 , 55 , 42 , 1337]
arr.sort()
print(arr)
#sorting alpha in ASCII Order
alph = ['z', 'c' ,'A', 'R' , 'C' ,  'r' , 'a' , 'y' , 'a']
alph.sort()
print(alph)
alph.sort(reverse = True)
print(alph)
#sorting alpha in Alphabetical order
alph.sort(key=str.lower)
print(alph)

[-5, 0, 42, 55, 1337]
['A', 'C', 'R', 'a', 'a', 'c', 'r', 'y', 'z']
['z', 'y', 'r', 'c', 'a', 'a', 'R', 'C', 'A']
['a', 'a', 'A', 'c', 'C', 'r', 'R', 'y', 'z']

### <font color="green">***~Tuple Data Type: ***</font>

In [ ]:
#tuples are similar to List , but main difference , besides the syntax ,is that Tuples are Immutables
tuple1 = ('test', '5' , 3)
print(len(tuple1))
#tuple1.append('appended') can't
#tuple1.insert(1,'Inserted') can't
for tp in tuple1 : 
  print(tp)

3
test
5
3

#### <font color = 'Orange'> ~Tuple <=> List:</font>

In [ ]:
tuple(['one' , 'two' , 'three'])

('one', 'two', 'three')

~ This would work in an IDE

In [ ]:
#initialize tuple
aTuple = (True, 28, "Tiger")

#tuple to list
aList = list(aTuple)

#print list
print(type(aList))
print(aList)

#### <font color = 'Orange'> ~References:</font>

In [ ]:
#for string & integers which are immutable (kinda static or in stack)
val1 = 42
val2 = val1
val1 = 1337
print('Val1 = ',val1)
print('Val2 = ',val2)
str1 = 'test'
str2 = str1
str1 = 'test2'
print('str1 = '+str1)
print('str2 = '+str2)

Val1 =  1337
Val2 =  42
str1 = test2
str2 = test

In [ ]:
#for lists which are Mutable (kinda dynamic , allocated)
#the reference for the list is being copied , not the list (under the hood , it's like list1 & list2 are pointing to the same list)
list1 = ['a' , 'b' , 'c' , 'd']
list2 = list1
list1[2] = 'changed'
print(list1[2] + ' = ' +list2[2])

changed = changed

In [ ]:
#Passing Refernces
def changeList(List):
  List.append('appended')

main = ['1','2','2']
changeList(main)
print(main)

['1', '2', '2', 'appended']

In [ ]:
#Copy 
import copy
org = ['A' , 'B' , 'C' , 'ORG']
dup = copy.copy(org)
dup.append('appended')
print(dup)
print(org)

['A', 'B', 'C', 'ORG', 'appended']
['A', 'B', 'C', 'ORG']

>>Conway's game of life is a famous celluar automata ,where the universe of the Game Of life is an infinite two-dimensional orthogonal grid of square cells , each of which is in one of two possible states , <font color = "blue">alive</font> or <font color = "blue">dead</font>.
<br>
Every cell interects with it's eight neighbours , which are the cells that are horizontally , vertically , or diagonally adjacent . At each step in time (generation) , the following transitions occur :    
<br>
1==> Any live cell with fewer than two live neighbours dies, as if caused by underpopultion.
<br>
2==> Any live cell with two or three live neighbours lives on to the next generation.
<br>
3==> Any live cell with more than three live neighbours dies, as if by overcrowding.
<br>
4==> Any dead cell with exactly three live neighbours becomes a live cell , as if by reproduction.

In [ ]:
# Conway's Game of Life 
import random , copy, time
WIDTH = 60
HEIGHT = 20
nextCells = []
for x in range(WIDTH):
  column = []
  for y in range(HEIGHT):
    if (x, y) in ((1, 0), (2, 1), (0, 2), (1, 2), (2, 2)):
      column.append('#')
    else :
      column.append(' ')
  nextCells.append(column)

while True:
  print('\n\n\n\n\n')
  currentCells = copy.deepcopy(nextCells)

  for y in range(HEIGHT):
    for x in range(WIDTH):
      print(currentCells[x][y], end = '')
    print()
  
  for x in range(WIDTH):
    for y in range(HEIGHT):

      #avoid getting out of boundaries
      leftCord = (x - 1) % WIDTH
      rightCord = (x + 1) % WIDTH
      aboveCord = (y - 1) % HEIGHT
      belowCord = (y + 1) % HEIGHT

      NbOfNeighbors = 0
      if (currentCells[leftCord][aboveCord] == '#'):
        NbOfNeighbors += 1
      if (currentCells[x][aboveCord] == '#'):
        NbOfNeighbors += 1
      if (currentCells[rightCord][aboveCord] == '#'):
        NbOfNeighbors += 1
      if (currentCells[leftCord][y] == '#'):
        NbOfNeighbors += 1
      if (currentCells[rightCord][y] == '#'):
        NbOfNeighbors += 1
      if (currentCells[leftCord][belowCord] == '#'):
        NbOfNeighbors += 1
      if (currentCells[x][belowCord] == '#'):
        NbOfNeighbors += 1
      if (currentCells[rightCord][belowCord] == '#'):
        NbOfNeighbors += 1

      #Applying the rules 
      if (currentCells[x][y] == '#' and (NbOfNeighbors == 2 or NbOfNeighbors == 3)):
        nextCells[x][y] = '#'
      elif (currentCells[x][y] == ' ' and NbOfNeighbors == 3):
        nextCells[x][y] = '#'
      else : 
        nextCells[x][y] = ' '
  time.sleep(1)

### <font color="green">****~Practice Projects: ****</font>

In [ ]:
#Comma Code :
#List as input , string as output :
import copy

def LtoS(myList):
  myString = ' '
  if len(myList) == 0:
    myString = '(Empty)'
    return myString
  for i in range(len(myList)):
      myString += str(myList[i])
      if i < len(myList) - 1 :
        myString += ', '
      if i == len(myList) - 2 :
        myString += 'and '
  return (myString)

#test = ['first', 'second', 'third',55, 'forth', 'fifth']
#test = []
#test = [35 , 64 , 545 , 45453 ]
test = ['0']
string =  LtoS(test)
print(string)

 0

In [59]:
#Coin Flip Streaks
import random

#listStreak = ['H' , 'H' , 'H' , 'H' ,'H' , 'H' , 'T' , 'H' , 'T' , 'T' , 'T' , 'T' , 'T'  ]
listStreak = []
numberOfStreaks = 0
for expNb in range(1000):

  #creating a list randomnly
  for i in range(100):
    if random.randint(0 , 1) == 0:
      listStreak.append('T')
    elif random.randint(0 , 1) == 1:
      listStreak.append('H')

  #Checking streaks
  counter = 0
  for index in range(len(listStreak)) :
  #if (index == len(listStreak) - 1): in case of (if listStreak[index] == listStreak[index + 1])
    #break
    if (index == 0):
      counter += 1
      continue
    elif listStreak[index] == listStreak[index - 1]:
      counter += 1
    else :
      counter = 1
    if (counter == 6):
      numberOfStreaks += 1
print('chance of streak %s%%'%(numberOfStreaks / (100 * 1000)))

chance of streak 11.57745%

In [80]:
#character picture grid
grid = [['.', '.', '.', '.', '.', '.'], ['.', 'O', 'O', '.', '.', '.'], ['O', 'O', 'O', 'O', '.', '.'], ['O', 'O', 'O', 'O', 'O', '.'],
['.', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', '.'], ['O', 'O', 'O', 'O', '.', '.'], ['.', 'O', 'O', '.', '.', '.'], ['.', '.', '.', '.', '.', '.']]
for item in grid : 
  print(item)
  
print()

for y in range(len(grid[y])):
  for x in range(len(grid)):
    print(grid[x][y], end = '')
  print()

['.', '.', '.', '.', '.', '.']
['.', 'O', 'O', '.', '.', '.']
['O', 'O', 'O', 'O', '.', '.']
['O', 'O', 'O', 'O', 'O', '.']
['.', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', '.']
['O', 'O', 'O', 'O', '.', '.']
['.', 'O', 'O', '.', '.', '.']
['.', '.', '.', '.', '.', '.']

..OO.OO..
.OOOOOOO.
.OOOOOOO.
..OOOOO..
...OOO...
....O....